parameters:
	ignoreErrors:
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\:\\:setCrdate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Model/Entry.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\:\\:setTstamp\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Model/Entry.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$identifier with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$maxFailures with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$restrictionTime with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$secondsTillReset with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:logicalOr\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$identifier\\)\\: Unexpected token \"\\$identifier\", expected type at offset 108$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$maxFailures\\)\\: Unexpected token \"\\$maxFailures\", expected type at offset 50$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$restrictionTime\\)\\: Unexpected token \"\\$restrictionTime\", expected type at offset 77$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$secondsTillReset\\)\\: Unexpected token \"\\$secondsTillReset\", expected type at offset 18$#"
			count: 1
			path: Classes/Domain/Repository/Entry.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findEntriesToCleanUp\\(\\) has parameter \\$maxFailures with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findEntriesToCleanUp\\(\\) has parameter \\$restrictionTime with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findEntriesToCleanUp\\(\\) has parameter \\$secondsTillReset with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:logicalOr\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$maxFailures\\)\\: Unexpected token \"\\$maxFailures\", expected type at offset 60$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$restrictionTime\\)\\: Unexpected token \"\\$restrictionTime\", expected type at offset 92$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$secondsTillReset\\)\\: Unexpected token \"\\$secondsTillReset\", expected type at offset 23$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^Strict comparison using \\!\\=\\= between null and null will always evaluate to false\\.$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^Call to an undefined method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findOneByIdentifier\\(\\)\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 3
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Cannot call method getFailures\\(\\) on Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\|null\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:log\\(\\) has parameter \\$message with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:log\\(\\) has parameter \\$severity with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$message\\)\\: Unexpected token \"\\$message\", expected type at offset 18$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$severity\\)\\: Unexpected token \"\\$severity\", expected type at offset 41$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Parameter \\#1 \\$crdate of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\:\\:setCrdate\\(\\) expects string, int given\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Parameter \\#1 \\$entry of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:hasMaximumNumberOfFailuresReached\\(\\) expects Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry, Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\|null given\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Parameter \\#1 \\$entry of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:isRestricted\\(\\) expects Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry, Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\|null given\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Parameter \\#1 \\$tstamp of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\:\\:setTstamp\\(\\) expects string, int given\\.$#"
			count: 2
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:\\$objectManager \\(TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\ObjectManagerInterface\\) does not accept object\\.$#"
			count: 1
			path: Classes/Domain/Service/RestrictionService.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Core\\\\Authentication\\\\AbstractUserAuthentication\\:\\:\\$loginFailure\\.$#"
			count: 2
			path: Classes/Hooks/UserAuth/PostUserLookUp.php

		-
			message: "#^Access to an undefined property TYPO3\\\\CMS\\\\Frontend\\\\Authentication\\\\FrontendUserAuthentication\\:\\:\\$loginFailure\\.$#"
			count: 1
			path: Classes/Hooks/UserAuth/PostUserLookUp.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Hooks\\\\UserAuth\\\\PostUserLookUp\\:\\:getRestrictionIdentifierFabric\\(\\) should return Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierFabric but returns object\\.$#"
			count: 1
			path: Classes/Hooks/UserAuth/PostUserLookUp.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Hooks\\\\UserAuth\\\\PostUserLookUp\\:\\:getRestrictionMessage\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: Classes/Hooks/UserAuth/PostUserLookUp.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Hooks\\\\UserAuth\\\\PostUserLookUp\\:\\:initRestrictionService\\(\\) should return Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService but returns object\\.$#"
			count: 1
			path: Classes/Hooks/UserAuth/PostUserLookUp.php

		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Hooks\\\\UserAuth\\\\PostUserLookUp\\:\\:\\$configuration \\(Aoe\\\\FeloginBruteforceProtection\\\\System\\\\Configuration\\) does not accept object\\.$#"
			count: 1
			path: Classes/Hooks/UserAuth/PostUserLookUp.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:getRestrictionIdentifierFabric\\(\\) should return Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierFabric but returns object\\.$#"
			count: 1
			path: Classes/Service/AuthUser.php

		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:\\$configuration \\(Aoe\\\\FeloginBruteforceProtection\\\\System\\\\Configuration\\) does not accept object\\.$#"
			count: 1
			path: Classes/Service/AuthUser.php

		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:\\$frontendUserAuthentication \\(TYPO3\\\\CMS\\\\Frontend\\\\Authentication\\\\FrontendUserAuthentication\\) does not accept object\\.$#"
			count: 1
			path: Classes/Service/AuthUser.php

		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:\\$restrictionService \\(Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\) does not accept object\\.$#"
			count: 1
			path: Classes/Service/AuthUser.php

		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApi\\:\\:\\$apiStore \\(Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApiStore\\) does not accept object\\.$#"
			count: 1
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApi.php

		-
			message: "#^Variable \\$apiStore in isset\\(\\) is always null\\.$#"
			count: 1
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApi.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApiStore\\:\\:getProperty\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApiStore.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApiStore\\:\\:getProperty\\(\\) has parameter \\$propertyName with no typehint specified\\.$#"
			count: 1
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApiStore.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApiStore\\:\\:setProperty\\(\\) has parameter \\$propertyName with no typehint specified\\.$#"
			count: 1
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApiStore.php

		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApiStore\\:\\:setProperty\\(\\) has parameter \\$propertyValue with no typehint specified\\.$#"
			count: 1
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApiStore.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$propertyName\\)\\: Unexpected token \"\\$propertyName\", expected type at offset 18$#"
			count: 2
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApiStore.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$propertyValue\\)\\: Unexpected token \"\\$propertyValue\", expected type at offset 46$#"
			count: 1
			path: Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApiStore.php

		-
			message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:devLog\\(\\)\\.$#"
			count: 1
			path: Classes/Service/Logger/DevLogger.php

		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\Logger\\\\LoggerService\\:\\:\\$configuration \\(Aoe\\\\FeloginBruteforceProtection\\\\System\\\\Configuration\\) does not accept object\\.$#"
			count: 1
			path: Classes/Service/Logger/LoggerService.php

		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 1
			path: Classes/System/Configuration.php

		-
			message: "#^Binary operation \"\\-\" between 32 and string results in an error\\.$#"
			count: 1
			path: Classes/Utility/CIDRUtility.php

