includes:
    - phpstan-baseline.neon
    - ../.Build/vendor/symplify/phpstan-rules/config/packages/cognitive-complexity/cognitive-complexity-rules.neon

rules:
    - Symplify\PHPStanRules\Rules\NoDefaultExceptionRule

parameters:
    level: max
    paths:
        - "../Classes/"

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

services:
    - class: Symplify\PHPStanRules\Matcher\ArrayStringAndFnMatcher
    - class: Symplify\PHPStanRules\Formatter\RequiredWithMessageFormatter
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - d
                - dd
                - die
                - dump
                - compact
                - var_dump
