parameters:
	ignoreErrors:
		-
			message: "#^Method (.*) has no return type specified\\.$#"
			path: ../Classes/
		-
			message: "#^Method (.*) no type specified\\.$#"
			path: ../Classes/
		-
			message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\:\\:logicalOr\\(\\) invoked with 2 parameters, 1 required\\.$#"
			path: ../Classes/
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\(.*)\\:\\:\\$(.*) \\((.*)\\) in isset\\(\\) is not nullable\\.$#"
			path: ../Classes/

		-
			message: "#^PHPDoc tag @return with type Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierInterface is not subtype of native type Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierClientIp\\|Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierFrontendName\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionIdentifierFabric.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$identifier with no type specified\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/Entry.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$maxFailures with no type specified\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/Entry.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$restrictionTime with no type specified\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/Entry.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\Entry\\:\\:cleanUp\\(\\) has parameter \\$secondsTillReset with no type specified\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/Entry.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findEntriesToCleanUp\\(\\) has parameter \\$maxFailures with no type specified\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/EntryRepository.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findEntriesToCleanUp\\(\\) has parameter \\$restrictionTime with no type specified\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/EntryRepository.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findEntriesToCleanUp\\(\\) has parameter \\$secondsTillReset with no type specified\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/EntryRepository.php
		-
			message: "#^Strict comparison using \\!\\=\\= between null and null will always evaluate to false\\.$#"
			count: 1
			path: ../Classes/Domain/Repository/EntryRepository.php
		-
			message: "#^Parameter \\#1 \\$crdate of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\:\\:setCrdate\\(\\) expects string, int\\<1, max\\> given\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Parameter \\#1 \\$tstamp of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\:\\:setTstamp\\(\\) expects string, int\\<1, max\\> given\\.$#"
			count: 2
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Call to an undefined method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\:\\:findOneByIdentifier\\(\\)\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Cannot call method getFailures\\(\\) on Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\|null\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Parameter \\#1 \\$entry of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:hasMaximumNumberOfFailuresReached\\(\\) expects Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry, Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\|null given\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Parameter \\#1 \\$entry of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:isRestricted\\(\\) expects Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry, Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Model\\\\Entry\\|null given\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:\\$objectManager \\(TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\ObjectManagerInterface\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Hooks\\\\UserAuth\\\\PostUserLookUp\\:\\:getRestrictionIdentifierFabric\\(\\) should return Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierFabric but returns object\\.$#"
			count: 1
			path: ../Classes/Hooks/UserAuth/PostUserLookUp.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Hooks\\\\UserAuth\\\\PostUserLookUp\\:\\:initRestrictionService\\(\\) should return Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService but returns object\\.$#"
			count: 1
			path: ../Classes/Hooks/UserAuth/PostUserLookUp.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Hooks\\\\UserAuth\\\\PostUserLookUp\\:\\:\\$configuration \\(Aoe\\\\FeloginBruteforceProtection\\\\System\\\\Configuration\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Hooks/UserAuth/PostUserLookUp.php
		-
			message: "#^Method Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:getRestrictionIdentifierFabric\\(\\) should return Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierFabric but returns object\\.$#"
			count: 1
			path: ../Classes/Service/AuthUser.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:\\$configuration \\(Aoe\\\\FeloginBruteforceProtection\\\\System\\\\Configuration\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Service/AuthUser.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:\\$frontendUserAuthentication \\(TYPO3\\\\CMS\\\\Frontend\\\\Authentication\\\\FrontendUserAuthentication\\) does not accept TYPO3\\\\CMS\\\\Core\\\\Authentication\\\\AbstractUserAuthentication\\.$#"
			count: 1
			path: ../Classes/Service/AuthUser.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\AuthUser\\:\\:\\$restrictionService \\(Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Service/AuthUser.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApi\\:\\:\\$apiStore \\(Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\FeLoginBruteForceApi\\\\FeLoginBruteForceApiStore\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApi.php
		-
			message: "#^Variable \\$apiStore in isset\\(\\) always exists and is always null\\.$#"
			count: 1
			path: ../Classes/Service/FeLoginBruteForceApi/FeLoginBruteForceApi.php
		-
			message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:devLog\\(\\)\\.$#"
			count: 1
			path: ../Classes/Service/Logger/DevLogger.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Service\\\\Logger\\\\LoggerService\\:\\:\\$configuration \\(Aoe\\\\FeloginBruteforceProtection\\\\System\\\\Configuration\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Service/Logger/LoggerService.php
		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 5
			path: ../Classes/System/Configuration.php
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: ../Classes/System/Configuration.php
		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 1
			path: ../Classes/System/Configuration.php
		-
			message: "#^Binary operation \"\\-\" between 32 and string results in an error\\.$#"
			count: 1
			path: ../Classes/Utility/CIDRUtility.php
		-
			message: "#^Parameter \\#2 \\$frontendUserAuthentication of method Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionIdentifierFabric\\:\\:getRestrictionIdentifier\\(\\) expects TYPO3\\\\CMS\\\\Frontend\\\\Authentication\\\\FrontendUserAuthentication\\|null, object given\\.$#"
			count: 1
			path: ../Classes/Hooks/UserAuth/PostUserLookUp.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:\\$configuration \\(Aoe\\\\FeloginBruteforceProtection\\\\System\\\\Configuration\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:\\$entryRepository \\(Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Repository\\\\EntryRepository\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
		-
			message: "#^Property Aoe\\\\FeloginBruteforceProtection\\\\Domain\\\\Service\\\\RestrictionService\\:\\:\\$persistenceManager \\(TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Generic\\\\PersistenceManager\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Domain/Service/RestrictionService.php
