includes:
    - ../.Build/vendor/symplify/phpstan-rules/config/services/services.neon
    - ../.Build/vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - "../Classes/"

    ignoreErrors:
            - identifier: missingType.iterableValue
    inferPrivatePropertyTypeFromConstructor: true

services:
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - d
                - dd
                - die
                - dump
                - compact
                - var_dump
